#body
{

background-color:#FEFCFF;
display:block;
margin-top:1.5em;
  margin-bottom:2em;


}

#general
{
  margin-left:2em;
  padding:2em;
  display:block;
}

.textfield
{
  width:100%;	
  height:2.5em;
  margin-top:0.5em;
 margin-bottom:0.5em;
  
  
}

#button
{
width:100%;	
  height:2.5em;
  background-color:#306EFF;	
  margin-top:0.5em;
 margin-bottom:0.5em;
	
	
}

.select
{
	
	width:100%;	
  height:2.5em;
  margin-top:0.5em;
 margin-bottom:0.5em;
	
	
}
.required
{
   color:red;

}